In [1]:
import numpy as np
import os
from collections import namedtuple
from pyspark.sql import SparkSession, Row

In [2]:
sc = spark.sparkContext
sc.setLogLevel('WARN')

In [5]:
# clean old table
answer_df = spark.sql("select * from hive_table limit 5")

assert answer_df.first().X_1 == 1.624
assert answer_df.first().X_8 == -0.761

answer_df.show()

+------+------+------+------+------+------+------+------+--------+--------+
|   X_1|   X_2|   X_3|   X_4|   X_5|   X_6|   X_7|   X_8|part_id1|part_id2|
+------+------+------+------+------+------+------+------+--------+--------+
| 1.764|   0.4| 0.979| 2.241| 1.868|-0.977|  0.95|-0.151|       b|       x|
|-0.103| 0.411| 0.144| 1.454| 0.761| 0.122| 0.444| 0.334|       b|       y|
| 1.494|-0.205| 0.313|-0.854|-2.553| 0.654| 0.864|-0.742|       d|       z|
|  2.27|-1.454| 0.046|-0.187| 1.533| 1.469| 0.155| 0.378|       b|       y|
|-0.888|-1.981|-0.348| 0.156|  1.23| 1.202|-0.387|-0.302|       b|       z|
+------+------+------+------+------+------+------+------+--------+--------+

In [6]:
spark.sql("select count(*) as row_count from hive_table").show()

+---------+
|row_count|
+---------+
|     2000|
+---------+

In [7]:
spark.sql("show tables").show()

+--------+----------+-----------+
|database| tableName|isTemporary|
+--------+----------+-----------+
| default|hive_table|      false|
+--------+----------+-----------+

In [8]:
spark.sql("show databases").show()

+------------+
|databaseName|
+------------+
|     default|
+------------+

In [17]:
x = spark.sql("show create table hive_table").toPandas()

In [20]:
print(x.createtab_stmt[0])

CREATE EXTERNAL TABLE `hive_table`(`X_1` double, `X_2` double, `X_3` double, `X_4` double, `X_5` double, `X_6` double, `X_7` double, `X_8` double, `part_id1` string, `part_id2` string)
ROW FORMAT SERDE 'org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe'
WITH SERDEPROPERTIES (
  'serialization.format' = '1'
)
STORED AS
  INPUTFORMAT 'org.apache.hadoop.hive.ql.io.parquet.MapredParquetInputFormat'
  OUTPUTFORMAT 'org.apache.hadoop.hive.ql.io.parquet.MapredParquetOutputFormat'
LOCATION 'file:/spark/data/my_data_parquet'
TBLPROPERTIES (
  'transient_lastDdlTime' = '1555795074'
)